/* here you can put your own css to customize and override the theme */

.hide{
	display: none;
}

.show{
	display:block;
}

.footer .container ul{ list-style:none;}
.footer .container ul li{ padding:3px 0; color:#FFFFFF;}
.footer .container ul li.heading{color:#00ace3; font-size:16px;}
.footer .container ul li a{ color:#FFFFFF; text-decoration:none;}
.footer .container ul li a:hover{ color:#00ACE3; text-decoration:none;}

.footer .footer-inner {padding-left: 30px;}
.footer .footer-inner a{color:#999999; padding: 0 7px;}
em.caption{color: #428BCA; font-style:normal; font-size: 24px; font-weight: bold;}
p.legal-footer{font-size:10px; padding: 0 70px;}
p.base-packages{font-size:16px; font-weight:600;}
.base-packages em.red-text{color: rgb(255, 0, 0); font-style: normal;}
.channel{border:1px solid #9B9B9B; background:#fff; margin: 8px auto; width:60%; padding: 10px; text-align: center;}
.channel:hover{border:2px solid #428BCA;}
.getLinks{color:#fff;}
.getLinks a{color:#fff; text-decoration:none;}
.welcome{font-size:12px; color:#9A9A9A; padding-left:10px;}
.package-channels{text-align:center; font-size:13px; font-weight:bold;}
.free{color: rgb(255, 0, 0); font-style: normal; font-weight: bold;}
.xtra-padding{padding-left:5px; padding-right:5px; padding-bottom:5px; }
sup.supone{top:-11px; font-size:14px; font-weight:600}
sup.suptwo{top:-13px; font-size:12px; font-weight:600; border-bottom:1px solid #555}
sup.supthree{top:-11px; font-size:14px; font-weight:600; color:#ffea00;}
sup.supfour{top:-13px; font-size:12px; font-weight:600; border-bottom:1px solid #ffea00; color:#ffea00;}
sup.supfive{top:-20px; font-size:18px; font-weight:600}
sup.suptwobig{top:-20px; font-size:14px; font-weight:bold; border-bottom:1px solid #555; left: 3px;}
sub.subonebig{left:-14px; font-size:14px; font-weight:bold; top:-2px;}
sub.subone{left:-18px; font-size:12px; font-weight:600;}
sub.subtwo{left:-17px; font-size:12px; font-weight:600; color:#ffea00;}
p.package-agreement{font-size:10px}
.alert-normal {background-color: #f6f6f6; border-color: #f6f6f6; color: #000; box-shadow: 1px 1px #e6e6e6; -moz-box-shadow: 1px 1px #e6e6e6; -webkit-box-shadow: 1px 1px #e6e6e6; border-radius:5px;}
.alert-nobg {background-color: #fff; border-color: #E4E4E4; color: #000;}
.txt-stroke{text-decoration:line-through;}
.price{font-size:16px; font-weight:600;}
.big-price{font-size:42px; font-weight:600;}
